@import 'normalize.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary: #1b74e4;
    --text-color: #050505;
    --title-color: #656565;
    --white-color: #fff;
    --background-hover: rgba(0, 0, 0, 0.05);

    --header-height: 56px;
}

.fill-white {
    fill: var(--white-color);
}
