@import 'normalize.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary: #1b74e4;
    --text-color: #050505;
    --title-color: #656565;
    --white-color: #fff;
    --background-color: #f0f2f5;
    --background-hover: rgba(0, 0, 0, 0.05);
    --seperator-color: #ced0d4;
    --header-height: 56px;
}

html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(22, 24, 35, 0.06);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px px;
    background-color: rgba(0, 0, 0, 0);
}

.fill-white {
    fill: var(--white-color);
}
