$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1100px;
$bigDesktop-width: 1260px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$bigDesktop-width - 1px}) {
        @content;
    }
}

.message-wrapper {
    position: fixed;
    overflow-y: scroll;
    height: 100vh;
    right: 0;
    width: 28%;
    padding-bottom: 80px;

    @include desktop {
        width: 18%;
    }
}

.advertise-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
    .advertise-img {
        border-radius: 8px;
        margin-right: 10px;
        width: 35%;
        height: 100%;
    }

    .advertise-info {
        h5 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.3rem;
            color: var(--title-color);
        }
    }
}

.seperator {
    border: 1px solid var(--seperator-color);
    margin-top: 15px;
}
