@import 'normalize.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary: rgb(56, 88, 152);
    --text-color: #050505;
    --title-color: #656565;
    --white-color: #fff;
}

.fill-white {
    fill: var(--white-color);
}
