$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1100px;
$bigDesktop-width: 1260px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) and (max-width: #{$bigDesktop-width - 1px}) {
        @content;
    }
}

.sidebar-wrapper {
    margin-top: 20px;
    padding-left: 16px;
    height: 100%;
    padding-bottom: 80px;
    position: fixed;
    overflow-y: scroll;
    width: 22%;
}

.sidebar-list {
    padding: 0;
    list-style: none;
}

.sidebar-item {
    margin: 5px 0;
    padding: 10px 4px;
    border-radius: 10px;
    &:hover {
        background-color: var(--background-hover);
    }
}

.sidebar-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.sidebar-link .icon {
    font-size: 2rem;
    width: 28px;
}

.sidebar-img {
    height: 28px;
    width: 28px;
}

.sidebar-item-text {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.seperator {
    width: 100%;
    border: 1px solid var(--seperator-color);
}

.sidebar-title {
    margin: 15px 0 10px;
    color: var(--title-color);
}

.sidebar-footer {
    p {
        font-size: 1.4rem;
    }
}
