.post-wrapper {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    .post-border {
        border-radius: 10px;
        background-color: #fff;
        box-shadow: 0 0 5px #ccc;
        width: 590px;
        padding: 10px 20px;
        .post-section {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            .post-input {
                padding: 10px 20px;
                margin-left: 8px;
                border: none;
                font-size: 1.4rem;
                background-color: #f0f2f5;
                border-radius: 20px;
                width: 100%;
                color: var(--text-color);
                font-weight: 600;
            }

            .post-name-info {
                margin-left: 10px;
                .post-name {
                    font-size: 1.5rem;
                    font-weight: 600;
                    margin: 0;
                }

                .post-name-more {
                    display: flex;
                    align-items: center;
                    color: #65676b;
                    .post-name-hide {
                        font-size: 1.2rem;
                        font-weight: 700;
                    }

                    .post-time {
                        margin: 0px 6px;
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .post-info {
            margin-top: 10px;

            .text {
                font-size: 1.4rem;
            }
        }

        .post-status {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            .post-status-like-count {
                display: flex;
                align-items: center;
                .icon {
                    font-size: 1.4rem;
                    color: var(--primary);
                }

                span {
                    margin-left: 4px;
                    font-size: 1.4rem;
                    color: #65676b;
                }
            }
        }

        .img-wrapper {
            margin: 15px 0;
            display: flex;
            border-top: 1px solid #65676b;
            border-bottom: 1px solid #65676b;
            img {
                margin: auto;
            }
        }

        .seperator {
            border: 1px solid var(--seperator-color);
        }

        .post-type {
            display: flex;
            justify-content: space-evenly;
            margin-top: 15px;
            .post-type-item {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                img {
                    width: 24px;
                    height: 24px;
                    margin-right: 8px;
                }

                span {
                    color: var(--title-color);
                    font-weight: 600;
                }

                .icon {
                    margin-right: 5px;
                    font-size: 1.7rem;
                }
            }
        }

        .post-like {
            display: flex;
            justify-content: space-evenly;
            margin: 4px 0;
            .post-type-item {
                font-size: 1.5rem;
                display: flex;
                align-items: center;
                flex: 1;
                justify-content: center;
                padding: 5px 0;
                cursor: pointer;
                &:hover {
                    background-color: #f0f2f5;
                }

                span {
                    color: var(--title-color);
                    font-weight: 600;
                }

                .icon {
                    margin-right: 5px;
                    font-size: 1.7rem;
                }
            }
        }

        .comment-section {
            margin-top: 15px;
            .comment-writter {
                display: flex;
                align-items: center;
                .img {
                    width: 32px;
                    height: 32px;
                }
                .comment-input {
                    border: none;
                    border-radius: 20px;
                    background-color: #f0f2f5;
                    padding: 10px 15px;
                    width: 100%;
                    margin-left: 8px;
                    font-size: 1.4rem;
                }
            }

            .users-comment {
                margin-top: 15px;
                .user-comment {
                    display: flex;
                    align-items: center;
                    margin: 10px 0;
                    .img {
                        width: 32px;
                        height: 32px;
                    }

                    .comment-text {
                        border-radius: 10px;
                        padding: 10px;
                        background-color: #f0f2f5;
                        margin-left: 8px;
                        h5 {
                            margin: 0;
                            font-weight: 700;
                        }
                        p {
                            margin: 0;
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }
    }
}
